/* .container-fluid {
	min-width: 1024px;
}*/
/**********header.css**********/
#footer .footerInner {
  border-top: 3px solid #ff5100;
  background: #fff;
}
#footer p {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
}
.header {
  padding-bottom: 10px;
}
/* .container-fluid {
	min-width: 1024px;
}*/
.jstree {
  overflow: hidden;
  padding-left: 0!important;
}
.jstree-icon {
  color: #337ab7;
}
.jstree-pannel {
  line-height: 25px;
}
.jstree-pannel div {
  padding-bottom: 5px;
}
.jstree-pannel .pull-left {
  min-width: 150px;
}
.table-cell {
  padding: 5px;
  display: table-cell;
}
.alert-fixed {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  max-width: 500px;
  padding: 10px;
  z-index: 9999;
  border-radius: 0px;
}
.yellow-pencil {
  color: orange;
  font-weight: 700;
}
.blue-glass {
  color: blue;
  font-weight: 700;
}
.glyph-md {
  font-size: 20px;
  font-weight: 700;
}
.glyph-large {
  font-size: 30px;
  font-weight: 900;
}
.font-md {
  font-weight: 900;
  font-size: 18px;
}
.dl-sm dt {
  width: 120px;
}
.dl-sm dd {
  margin-left: 125px;
}
.dl-lg dt {
  width: 200px;
}
.dl-lg dd {
  margin-left: 205px;
}
.dl-lg2 dt {
  width: 250px;
}
.dl-lg2 dd {
  margin-left: 255px;
}
.well .btn-block {
  max-width: 400px;
  margin: 0 auto;
}
.well .btn-block + .btn-block {
  margin-top: 10px;
}
.tab-content-border {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}
.nav-tabs-border {
  margin-bottom: 0;
}
.full-td table {
  table-layout: fixed;
}
.full-td table td,
.full-td th {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.auto-td {
  overflow-x: scroll;
}
.auto-td table td,
.auto-td th {
  white-space: nowrap;
}
.clear-both {
  clear: both;
}
.padding-top15 {
  padding-top: 15px;
}
.padding15 {
  padding: 15px;
}
.padding-right-clear {
  padding-right: 0px;
}
.margin-between15 + .margin-between15 {
  margin-top: 15px;
}
.thumbnail {
  position: relative;
}
.caption {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  color: white !important;
  font-weight: 900;
  text-align: center;
}
.res-query-block img {
  zoom: 70%;
}
.pagination input {
  border-style: none;
  text-align: center;
}
.pg-sp-input {
  padding: 4px !important;
}
.checkbox-inline {
  word-wrap: break-word;
}
.slide-vertial-lg {
  max-height: 1000px;
  overflow-y: scroll;
}
.rigth-border {
  border-right: 1px solid #e5e5e5;
}
.span-pull-left span {
  float: left;
}
