.form-signin input {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.form-signin input + input {
  margin-top: 10px;
}
.form-signin .btn-block {
  margin-top: 15px;
}
